/* Import av font: Jockey One och Roboto för rubriker/brödtext. */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto+Slab:wght@100;400;700&display=swap');

/* Normalisering. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body, flexad kolumn. */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Rubriker. Font är Jockey One. */
h1, h2, h3 {
  font-family: Jockey One, sans-serif;
  text-align: center;
}

h1 {
  background-color: #283816;
  color: #ffffff;
  font-size: 40px;
  padding: 1rem 0;
  letter-spacing: 3px;
}

h2 {
  margin: 0 0 2rem 0;
  letter-spacing: 1px;
}

/* Brödtext. Font är Roboto Slab. */
p {
  font-family: Roboto Slab, sans-serif;
  line-height: 1.75;
}

.list {
  display: flex;
  justify-content: center;
} 

/* Mediaqueries. */
@media (min-width: 769px) {
  /* Ul-listan flexas med row för att visa korten på en rad och wrap utifrån skärmstorlek. */
  ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5rem;
      justify-content: center;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
  }
}

