.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f283d;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: 0;
    height: 75px;
    font-weight: bold;
}