.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283816;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: 0;
    height: 75px;
    font-weight: bold;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: white;
    text-decoration: none;
}