/* Container fyller ut hela viewwidth för banner. */
.banner-container {
    width: 100%;
    height: 300px;
}

/* Banner-bild fyller ut hela containern. */
.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;
}

/* Media-queries. */
@media (min-width: 1500px) {
    /* Banner-container får ökad höjd. */
    .banner-container {
        height: 400px;
    }
}